@mixin borderDesign {
  .border {
    border: 1.5px solid transparent;

    &:hover {
      border: 1.5px solid $lightTextColor;
    }
  }
}

@mixin box45SameDesign {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  p span {
    font-size: 0.7rem;
  }
}

.navbar {
  height: 60px;
  background-color: $darkNavColor;
  color: $textColor;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @include borderDesign();

  &__logo {
    margin: 1px 0 1px 11px;
    height: 50px;
    width: 100px;

    .logo {
      background-image: url("/Images/amazon_logo.png");
      width: 100%;
      height: 50px;
      background-size: cover;
    }
  }

  &__address {
    margin: 1px 0 1px 0;
    height: 50px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__first {
      color: $lightTextColor;
      font-size: 0.85rem;
      margin: 0 0 0 15px;
    }

    &__second {
      color: $textColor;
      font-size: 1rem;
      margin: 0 0 0 3px;
    }

    .add-icon {
      display: flex;
      align-items: center;
    }
  }

  &__search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    height: 40px;
    width: 800px;
    border-radius: 4px;

    &__select {
      background-color: $selectBgColor;
      width: 50px;
      text-align: center;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border: none;
    }

    &__input {
      width: 100%;
      font-size: 1rem;
      border: none;
    }

    &__searchIcon {
      width: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      color: $darkNavColor;
      background-color: $magnifyingColor;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &:hover {
      border: 2px solid orange;
    }
  }

  &__signin {
    @include box45SameDesign();

    &__second {
      font-size: 0.9rem;
      font-weight: 700;
    }
  }

  &__return {
    @include box45SameDesign();
    width: 70px;

    &__second {
      font-size: 0.9rem;
      font-weight: 700;
    }
  }

  &__cart {
    font-size: 0.9rem;
    font-weight: 700;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2px;

    & i {
      font-size: 30px;
    }
  }
}

.panel {
  height: 40px;
  background-color: $panelColor;
  display: flex;
  color: $textColor;
  align-items: center;
  justify-content: space-evenly;

  &__together {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__all {
    font-size: 0.9rem;
    font-weight: 700;

    & i {
      font-size: 1.1rem;
      margin-right: 5px;
    }
  }

  &__options {
    width: 70%;
    font-size: 0.85rem;
    p {
      display: inline;
      margin: 10px;
    }
  }

  &__deals {
    font-size: 0.9rem;
    font-weight: 700;
    float: right;
  }

  @include borderDesign();
}
