$darkNavColor: #0f1111;
$textColor: #ffff;
$lightTextColor: #cccccc;
$magnifyingColor: #febd68;
$selectBgColor: #f3f3f3;
$panelColor: #222f3d;
$anckorTabColor: #007185;
$shopSectionColor: #dceeea;
