@import "./variables";
@import "./navbar";
@import "./footer";

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
}

.heroSection {
  background-image: url("/Images/hero_image.jpg");
  height: 380px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  &__message {
    background-color: $textColor;
    height: 40px;
    color: $darkNavColor;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 25px;

    & a {
      color: $anckorTabColor;
    }
  }
}

.shopSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: $shopSectionColor;

  .box {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .box__content {
    margin: 0 1rem 0 1rem;

    a {
      color: #007185;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: red;
      }
    }
  }

  .box__image {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
